<!DOCTYPE html>
<html>
<head>
           <meta charset="UTF-8" />
 <title>
      Patient  Registration Form
 </title>
</head>
<body>
          <div style="margin: auto;width: 30%;">
          <form action="reg_store">
               <h2>{{a}}</h2>
             <h2>  Patient  Registration Form</h2>
             <p>Fill in this form to register</p>
             <br>
             <label><b>First Name</b></label> 
             <input type="text" name="a1">
             <br>
             
             <br>
             <label><b>Last Name</b></label>
             <input type="text" name="a2">
             <br>
             <br>
             <label><b>E-mail</b></label>
             <input type="text" name="a3">
             <br>
             <br>
             <label><b>Date of Birth</b></label>
             <input type="text" name="a4">
             <br>
             <br>
             <label><b>Set Username</b></label>
             <input type="text" name="a5">
             <br>
             <br>
             <label><b>Set Password</b></label>
             <input type="text" name="a6">
             <br>
             
             <br>
             <label><b>Gender</b></label><br>
             <input type="text" name="a7">
             <br>
              
            <br>
            <label><b>Address :</b></label>   
            <input type="text" name="a8">
           <br>
           <br>
           <input type="submit" value="Register"  /> 
          </form>
     </div>
     <div class="container">
          <h2></h2>
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum nisi eu justo consequat, a congue odio cursus.</p>
      </div>
  </body>
  </html>
  
</body>
</html>